<!-- START OF ABOUT SECTION -->
<div id="about">
  
  <h2 class="section-title"><span>About <strong>Simpler</strong></span></h2>
  
  <div class="about-info">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu libero mi.Fusce a magna id nulla lacinia consectetur ac ut lorem. Ut eu orci eros, id porttitor urna. Maecenas nec est purus, quis faucibus sapien. Etiam vitae pellentesque tortor. Mauris nunc quam,</p>
    
    <span class="read-more-btn">
      <a class="read-more" href="#">READ MORE</a>
      <a class="view-our-work" href="#">VIEW OUR WORK</a>
    </span>
    
  </div><!--end of about-info-->
  
  <div class="about-detail">
    
    <ul>
      <li>
	<a rel="prettyPhoto" href="http://www.youtube.com/watch?v=c9MnSeYYtYY" title="Video Title"><%= image_tag "about-image.jpg", alt: "About Video", class: "detail-image" %></a>
	
	<div class="about-content">
	  <h5>Your awesome heading goes here</h5>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam eu libero mi. Fusce a magna...</p>
	</div>									
      </li>
      
      <li>
	<a rel="prettyPhoto" href="http://www.youtube.com/watch?v=c9MnSeYYtYY" title="Video Title"><%= image_tag "about-image.jpg", alt: "About Video", class: "detail-image" %></a>
	
	<div class="about-content">
	  <h5>Your awesome heading goes here</h5>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam eu libero mi. Fusce a magna...</p>
	</div>
      </li>
    </ul>
    
  </div><!--end of about-detail-->
</div>
<!-- END OF ABOUT SECTION -->

