					<!-- START OF FEATURES SECTION -->
					<div id="feature">
                    
                    	<ul class="features">
						
                    			<li>
                    					<img src="images/unique-design.png" alt="Unique Design" />
                    					<h3><a href="#">Unique Design</a></h3>
                    					<p>Lorem ipsum dolor sit amet,consectetur adipiscing</p>
                    			</li>
                    	
						
								<li>
                    					<img src="images/cross-browser.png" alt="Cross Browser" />
                    					<h3><a href="#">Cross Browser</a></h3>
                    					<p>Lorem ipsum dolor sit amet,consectetur adipiscing</p>
                    			</li>
                    	
						
								<li>
                    					<img src="images/feature-rich.png" alt="Feature Rich" />
                    					<h3><a href="#">Feature Rich</a></h3>
                    					<p>Lorem ipsum dolor sit amet,consectetur adipiscing</p>
                    			</li>
                    	
						
								<li>
                    					<img src="images/easily-customizable.png" alt="Easily Customizable" />
                    					<h3><a href="#">Easily Customizable</a></h3>
                    					<p>Lorem ipsum dolor sit amet,consectetur adipiscing</p>
                    			</li>
                    	
						
								<li>
                    					<img src="images/clean-code.png" alt="Clean Code" />
                    					<h3><a href="#">Clean Code</a></h3>
                    					<p>Lorem ipsum dolor sit amet,consectetur adipiscing</p>
                    			</li>
								
                    		</ul>
                            
                    </div><!--end of feature-->
					<!-- END OF FEATURES SECTTION -->
					
					