<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <title>Simpler Landing</title>
  
  <link rel="stylesheet" type="text/css" media="all" href="style.css" />
  <link rel="stylesheet" type="text/css" media="all" href="js/prettyPhoto/prettyPhoto.css" />
  
  <!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
  <link rel="shortcut icon" href="favicon.ico" />		
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    
    <div id="main-wrap">
      
      <div class="bg-switcher">
	<span class="open-btn closed"></span>
	<ul class="backgs">
	  <li class="bgs1">&nbsp;</li>
	  <li class="bgs2">&nbsp;</li>
	  <li class="bgs3">&nbsp;</li>
	  <li class="bgs4">&nbsp;</li>
	  <li class="bgs5">&nbsp;</li>
	  <li class="bgs6">&nbsp;</li>
	  <li class="bgs7">&nbsp;</li>
	  <li class="bgs8">&nbsp;</li>
          <li class="bgs9">&nbsp;</li>
          <li class="bgs10">&nbsp;</li>
          <li class="bgs11">&nbsp;</li>
          <li class="bgs12">&nbsp;</li>
          <li class="bgs13">&nbsp;</li>
          <li class="bgs14">&nbsp;</li>
          <li class="bgs15">&nbsp;</li>
          <li class="bgs16">&nbsp;</li>
          <li class="bgs17">&nbsp;</li>
          <li class="bgs18">&nbsp;</li>
	</ul>
      </div>
      
      <!-- header wrapper -->
      <div class="header-wrap">
	<div id="header">
	  
	  <!-- logo is here -->
	  <a href="#"><img src="images/logo.png" alt="logo" class="logo" /></a>
	  <h1>Simple</h1>
	  
	  
	  <div class="header-info">				
	    
	    <div class="tell-number">
	      <p>
		<span>Call Us at</span><br />
		0801-123-4569
	      </p>
	    </div>
	    
	    <div class="header-socail-naav">
	      <p>Follow Us</p>
	      <ul>
		<li><a href="#" class="twitter"></a></li>
		<li><a href="#" class="facebook"></a></li>
		<li><a href="#" class="flicker"></a></li>
		<li><a href="#" class="rss"></a></li>
	      </ul>						
	    </div>
	    
	  </div><!--end of .header-info-->			
	  
	</div><!--end of #header-->			
	
      </div><!--end of .header-wrap-->
