					<div id="slider-wrap">    
					                
	                    	<div class="slider">
								
								<div class="slide">								
		                            	<img src="images/slider/slider-img03.jpg" alt="Slider Image 03" />	
										
										<div class="slide-square">
											<h2>Awesome</h2>
											<h3>Welcome to Landing Page</h3>
											<p>Lorem ipsum dolor sit amet, consectetur amazi adipiscing elit. Nam eu libero mi. some Fusce a magna id nulla lacinia consectetur ac ut lorem. Ut eu orci eros, id </p>
											<a href="#" class="square-btn">DOWNLOAD</a>
										</div>
												
								</div><!--end of slide-->
	                            
								<div class="slide">								
	                            	<img src="images/slider/slider-img03.jpg" alt="Slider Image 03" />	
									
									<div class="slide-circle">
										<h2>Awesome</h2>
										<h3>Welcome to Landing Page</h3>
										<p>Lorem ipsum dolor sit amet, consectetur amazi adipiscing elit. Nam eu libero mi. some Fusce a magna id nulla lacinia consectetur ac ut lorem. Ut eu orci eros, id </p>
										<a href="#" class="circle-btn">DOWNLOAD</a>
									</div>		
									
								</div><!--end of slide-->
								                            
							</div><!--end of slider-->
						
							<a href="#" class="next-slide"></a>
							<a href="#" class="right-slide"></a>
							
					</div><!--end of slider-wrap-->
					
					