					
					<!-- START OF LISTS SECTION -->
					<div id="list-types">
					
	                    	<h2 class="section-title"><span>List <strong>Styles</strong></span></h2>
	                        
							<ul class="tick">
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
							</ul>
							
							<ul class="buttun">
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
							</ul>
							
							<ul class="arrow">
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
							</ul>
							
							<ul class="play">
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Lorem ipsum dolor sit amet</li>
							</ul>
							
					</div>
					<!-- END OF LISTS SECTIOIN -->
					