<!-- START OF OFFERS SECTION -->
<div id="offers">
  
  <h2 class="section-title"><span>We <strong>Offers</strong></span></h2>
  
  <ul>
    <li>
      <%= image_tag "web-desing-image.png", alt: "Web Design Image" %>
      <h3>Web Designing</h3>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
    </li>
    
    <li>
      <%= image_tag "psd-html-image.png", alt: "Web Design Image" %>
      <h3>PSD to XHTML</h3>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
    </li>
    
    <li>
      <%= image_tag "e-comrece-image.png", alt: "Web Design Image" %>
      <h3>e-Commerce Solution</h3>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
    </li>
    
    <li>
      <%= image_tag "multimedia-image.png", alt: "Web Design Image" %>
      <h3>Multimedia</h3>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
    </li>
  </ul>
  
</div>					
<!-- END OF OFFERS SECTION -->



