					
					
					<!-- START OF IMAGE GALLERY SECTION -->
					<div id="photogallery">
					
	                    	<h2 class="section-title"><span>Photo <strong>Gallery</strong></span></h2>
	
							<div class="gallery-wrap">
									<div class="crousel-wrap">
											<ul class="gallery">
													<li>
															<a rel="prettyPhoto" href="images/work/first-big.jpg">
																	<img src="images/carousel/first-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/second-big.jpg">
																	<img src="images/carousel/second-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/third-big.jpg">
																	<img src="images/carousel/third-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/fourth-big.jpg">
																	<img src="images/carousel/fourth-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/first-big.jpg">
																	<img src="images/carousel/first-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/second-big.jpg">
																	<img src="images/carousel/second-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/third-big.jpg">
																	<img src="images/carousel/third-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li>
													
													<li>
															<a rel="prettyPhoto" href="images/work/fourth-big.jpg">
																	<img src="images/carousel/fourth-small.jpg" alt="Carousel Image" />
																	<span></span>
															</a>
													</li> 									                     			
											</ul>
									</div>
							</div><!--end of gallery-wrap-->
							                          
					</div>
					<!-- END OF IMAGE GALLERY SECTION -->
			