					
					
					<!-- START OF PRICING TABLE SECTION -->
					<div id="pricing-table">
							<h2 class="section-title"><span>Pricing <strong>Tables</strong></span></h2>
							
							<p class="table-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam - <a href="#">Purchase Now</a></p>
							
							<div class="choose-plan">
								<div class="heading">
										<h4>Choose your <strong><br />business plan</strong></h4>
								</div><!--end of heading-->
								
								<ul>
										<li>New Themes (per month)</li>
										<li>Support Forum Access</li>
										<li>Includes PSD File</li>
										<li>Framework Support</li>
										<li>Concurrent Domain Uses</li>
										<li>Exclusive Plugin Support</li>
								</ul>
								
							</div><!--end of chose-plan-->
	
	
							<div class="standard-plan">
								
								<div class="heading">
										<p><span>Standard</span></p>
										<h4><span>$</span><strong>99</strong>per year</h4>
								</div><!--end of heading-->
								
								<ul>
										<li class="red">NA</li>
										<li class="green">Lifetime</li>
										<li class="cross">&nbsp;</li>
										<li class="tick">&nbsp;</li>
										<li class="tick">&nbsp;</li>
										<li class="tick">&nbsp;</li>
								</ul>
								
								<a href="#" class="purchase-btn">Purchase</a>
								
							</div><!--end of standard-plan-->
	
	
	                        <div class="business-plan">
							
	                            <div class="heading">
									<p><span>Business</span></p>
									<h4><span>$</span><strong>129</strong>per year</h4>
		                        </div><!--end of heading-->
	                        
							    <ul>
		                                <li class="green">Atleast 1</li>
		                                <li class="green">Lifetime</li>
		                                <li class="cross">&nbsp;</li>
		                                <li class="tick">&nbsp;</li>
		                                <li class="tick">&nbsp;</li>
		                                <li class="tick">&nbsp;</li>
	                            </ul>
	                        
							    <a href="#" class="purchase-btn">Purchase</a>
								
	                        </div><!--end of business-plan-->
	
	
							<div class="premium-plan">
								
								<div class="heading">
										<p><span>Premium</span></p>
										<h4><span>$</span><strong>199</strong>per year</h4>
								</div><!--end of heading-->
								
								<ul>
										<li class="green">More than 1</li>
										<li class="green">Lifetime</li>
										<li class="tick">&nbsp;</li>
										<li class="tick">&nbsp;</li>
										<li class="tick">&nbsp;</li>
										<li class="tick">&nbsp;</li>
								</ul>
								
								<a href="#" class="purchase-btn">Purchase</a>
								
							</div><!--end of premium-plan-->

					</div>					
					<!-- END OF PRICING TABLE SECTION -->
					