<!-- START OF SLOGAN SECTION -->
<div id="slogan">
  
  <h2 class="section-title"><span>Welcome to <strong>Rails Ramp Up</strong></span></h2>
  
  <p class="slogan-text">
    The complete video training and mentorship program for learning to build web applications on Ruby on Rails.
    <a href="#">Purchase Now</a>
  </p>
  
</div>
<!-- END OF SLOGAN SECTION -->

