					<!-- START OF SLOGAN SECTION -->
					<div id="slogan">
						
						<h2 class="section-title"><span>Welcome to <strong>Awesome Landing Page</strong></span></h2>
						
						<p class="slogan-text">
								You will find everything you want from here, 960 grid based design and lots of features with easy to customization options find all this amazing stuff at one place - 
								<a href="#">Purchase Now</a>
						</p>
						
					</div>
					<!-- END OF SLOGAN SECTION -->
					
					