<!-- START OF TESTIMONIALS SECTION -->
<div id="testimonials">
  <h2 class="section-title"><span>Client <strong>Says</strong></span></h2>
  
  <div id="testimonials-pager"></div>
  
  <div class="testimonial-slider">	
    
    <div class="testimonial-slide">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <cite><span>John Doe</span> - <strong>Designer</strong> - Theme Designer</cite>
    </div><!--end of testimonial-slide-->
    
    <div class="testimonial-slide">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
      <cite><span>John Doe</span> - <strong>Developer</strong> - 960 Development</cite>
    </div><!--end of testimonial-slide-->
    
    <div class="testimonial-slide">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <cite><span>John Doe</span> - <strong>Designer</strong> - Theme Designer</cite>
    </div><!--end of testimonial-slide-->
    
    <div class="testimonial-slide">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
      <cite><span>John Doe</span> - <strong>Developer</strong> - 960 Development</cite>
    </div><!--end of testimonial-slide-->								
    
    
  </div><!--end of testimonial-slider-->
  
</div><!--end of testimonials-->					
<!-- END OF TESTIMONICALS SECTION -->

