<h1>How I Use Evernote</h1>

<p>The video is a little rough. I made it for my mastermind group, but want to share it with you too.</p>

<p>I'm also constantly evolving my toolset and process, so this is subject to change. Look for updates!</p>

<iframe src="http://fast.wistia.net/embed/iframe/wn1pdx79dc" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="853" height="480"></iframe>

<p>Download it <%= link_to "here", "https://s3.amazonaws.com/goingrogue/Evernote.mp4" %></p>
