<h1>Here's the Video</h1>

<iframe src="http://fast.wistia.net/embed/iframe/9x1df9xgo3" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="853" height="480"></iframe>

<p>You can also download it here:
  <ul>
    <li><%= link_to "720p", "https://s3.amazonaws.com/goingrogue/GoingRogue.mp4" %></li>
    <li><%= link_to "Tablet Version", "https://s3.amazonaws.com/goingrogue/GoingRogue+-+Broadband.m4v" %></li>
    <li><%= link_to "Mobile Version", "https://s3.amazonaws.com/goingrogue/GoingRogue+-+Wi-Fi.m4v" %></li>
  </ul>
</p>
