<%= render partial: 'shared/header' %>	
<div class="inner-wrap">            	
  <div id="content-wrap">
    <%= yield %>
    
  </div><!--end of content-wrap-->				
</div><!--end of inner-wrap-->

<%= render partial: 'shared/footer' %>
